#sub-body{
  position: relative;
  margin: 0;
  background-color: rgb(54, 54, 54);
}

#top-panel{
  position: relative;
  width: 100%;
  height: 6%;
  border: 1px #666 dashed;
  padding-top: 0;
  text-align: center;
  background-color: rgb(54, 54, 54);
  overflow:hidden;
}

#bottom-panel{
  clear: both;
  width: 100%;
  height: 4%;
  border: 1px #666 dashed;
}

#canvas-body{
  position: relative;
  width: 80%;
  height: 90%;
  /*border: 1px #666 dashed;*/
  background-color: rgb(88, 88, 88);
  float: left;
}

canvas {
  display: block;
}

#right-top-panel{
  position: relative;
  width: 20%;
  height: 22.5%;
  border: 1px #666 dashed;
  float: right;
  overflow: hidden;
  background-color: rgb(83, 83, 83);
}

#util-box {
  text-align: center;
}

#right-panel{
  position: relative;
  width: 20%;
  height: 67.5%;
  border: 1px #666 dashed;
  float: right;
  overflow: auto;
  background-color: rgb(83, 83, 83);
}

.layer{
  display: inline-block;
  width: 100%;
  padding-left: 10px;
}


.slider {
  -webkit-appearance: none;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 25px;
  background: rgb(54, 54, 54);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 25px;
  background: rgb(54, 54, 54);
  cursor: pointer;
}

#preview {
  border: 0;
  width: 100%;
}

#preview-body {
  width: 100%;
  background-color: #d3d3d3;
  overflow:hidden;
}

.util {
  width: 4.5%;
  height: 100%;
}

#color {
  width: 45px;
  height: 25px;
}